---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, '');
const subpath = pathname.match(/[^\/]+/g);
const lang = subpath?.[0] || '';
const isActive = 
  href === pathname || 
  (href === '/' && pathname === '') || 
  (subpath && href === '/' + lang) ||
  (href.startsWith('/' + lang + '/') && pathname.startsWith(href));
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
	<slot />
</a>

<style>
	a {
		padding: 1em 0.5em;
		color: rgb(var(--black));
		border-bottom: 4px solid transparent;
		text-decoration: none;
		transition: border-bottom-color 0.3s ease;
		display: inline-block;
	}
	a.active {
		border-bottom-color: var(--accent-hex);
		font-weight: 600;
	}
</style>

